@model ReportScheduleInWeb.Models.WishViewModel

@{
    ViewBag.Title = "Создать задание";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new ReportScheduleInWeb.Models.ReportScheduleEntities();
}

<div class="row align-items-center">
    <div class="col-12">
        <p class="display-4" style="color: #663333 !important">Новое задание</p>
    </div>
</div>
<div class="row">
    <div class="program-selection">

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#program-selection-step-1" data-toggle="tab">Тип отчета</a></li>
            <li class="nav-item"><a class="nav-link" href="#program-selection-step-2" data-toggle="tab">Параметры</a></li>
            <li class="nav-item"><a class="nav-link" href="#program-selection-step-3" data-toggle="tab">Места</a></li>
            <li class="nav-item"><a class="nav-link" href="#program-selection-step-4" data-toggle="tab">Расписание</a></li>
            <li class="nav-item"><a class="nav-link" href="#program-selection-step-5" data-toggle="tab">Подтверждение</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active show" id="program-selection-step-1">
                <p class="h4">Тип отчета</p>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.wish_report_type_name)
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.report_type_id, new SelectList(db.Report_types.ToList(), "report_type_id", "report_type_name"), "Не выбрано", new { @class = "form-control" })
                    </div>
                </div>
                <input value="Далее" class="btn btn-primary program-selection__button next" type="button" data-href="#program-selection-step-2">
            </div><!-- tab-pane -->
            <div class="tab-pane fade" id="program-selection-step-2">
                Параметры
                <input value="Назад" class="btn btn-danger program-selection__button" type="button" data-href="#program-selection-step-1">
                <input value="Далее" class="btn btn-primary program-selection__button next" type="button" data-href="#program-selection-step-3">
            </div><!-- tab-pane -->
            <div class="tab-pane fade" id="program-selection-step-3">
                Места
                <input value="Назад" class="btn btn-danger program-selection__button" type="button" data-href="#program-selection-step-2">
                <input value="Далее" class="btn btn-primary program-selection__button next" type="button" data-href="#program-selection-step-4">
            </div><!-- tab-pane -->
            <div class="tab-pane fade" id="program-selection-step-4">
                Расписание
                <input value="Назад" class="btn btn-danger program-selection__button" type="button" data-href="#program-selection-step-3">
                <input value="Далее" class="btn btn-primary program-selection__button next" type="button" data-href="#program-selection-step-5">
            </div><!-- tab-pane -->
            <div class="tab-pane fade" id="program-selection-step-5">
                Подтверждение
                <input value="Назад" class="btn btn-danger program-selection__button" type="button" data-href="#program-selection-step-4">
                <input value="Сохранить" class="btn btn-success program-selection__button" type="button" data-href="#">
            </div><!-- tab-pane -->
        </div><!-- tab-content -->

    </div><!-- program-selection -->
</div>

@section scripts {
    <script>
        function checkParams() {
            var $program_selection = $('div.program-selection');
            var report_type_id = $('#report_type_id').val();
     
            if(report_type_id.length != 0) {
                $('input.next', $program_selection).removeAttr('disabled');
            }
            else {
                $('input.next', $program_selection).attr('disabled', 'disabled');
            }
        }
        function initProgramSelection() {
            var $program_selection = $('div.program-selection');

            $('ul.nav-tabs a', $program_selection).on('click', function () {
                return false;
            });

            $('input.program-selection__button', $program_selection).on('click', function (e) {
                e.preventDefault();

                var id = $(this).data('href');
                $('a[href="' + id + '"]', $program_selection).tab('show');
            });
        }

        $(function () {
            checkParams();
            initProgramSelection();
        });
    </script>
}