<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ReportScheduleEntities" connectionString="metadata=res://*/ReportScheduleModel.csdl|res://*/ReportScheduleModel.ssdl|res://*/ReportScheduleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.50.18.24;initial catalog=ReportSchedule;persist security info=True;user id=mcpu2;password=mfctest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="password" value="Mfcsakha" />
    <add key="command_timeout" value="3600" />
    <add key="smtp:host" value="10.50.18.10" />
    <add key="smtp:user" value="callback_sender" />
    <add key="smtp:password" value="Qwerty123" />
    <add key="smtp:from" value="mfc@mfcsakha.ru" />
    <add key="webservice" value="http://lena/rs_service/ReportService.svc/CreateFileExcel/" />
  </appSettings>
</configuration>