body {
    background: url("bg_layout.jpg") fixed;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

input.password {
    max-width: 100%;
}

.svg-icon,
.svg-icon-white {
    width: 24px;
    height: 24px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon-white path,
.svg-icon-white polygon,
.svg-icon-white rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.parameterValue {
    display: block;
    width: 100%;
}

.tab-content {
    max-width: 602px;
}
    
.input-group {
    flex-wrap:nowrap;
}

.input-group-text {
    min-width: 112px;
}

.input-group-text-wide {
    min-width: 140px;
}

.sidebar-sticky {
    min-width: 185px;
}

.close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
    transition: 1s;
}

.close:hover {
    color: #ff0000;
}

.table-wish tr {
    cursor: pointer;
}

.table-wish td {
    font-size: 14px;
    padding: 5px 3px 5px 3px;
}

.table-task td {
    font-size: 12px;
    padding: 4px 2px 4px 2px;
}

.table-hover tbody tr:hover td {
    background-color: #4691f6;
    color: #ffffff;
    transition: 0.3s;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-top {
    /* To center vertically */
    display: table-cell;
    vertical-align: top;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.field-validation-error {
    font-style: italic;
    font-size: 14px;
    color: red;
}