body {
    background: url("bg_layout.jpg") fixed;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

.svg-icon,
.svg-icon-white {
    width: 24px;
    height: 24px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon-white path,
.svg-icon-white polygon,
.svg-icon-white rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.parameterValue {
    display: block;
    width: 100%;
}

.tab-content {
    max-width: 602px;
}
    
.input-group {
    flex-wrap:nowrap;
}

.input-group-text {
    min-width: 112px;
}

.sidebar-sticky {
    min-width: 185px;
}